*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui,Segoe UI,sans-serif;
}

body{
background:#ffffff;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
transition:.3s;
}

.app{
width:95%;
max-width:900px;
height:95vh;
background:#fff;
border-radius:14px;
display:flex;
flex-direction:column;
overflow:hidden;
}

/* HEADER */

header{
padding:12px 16px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:1px solid #e5e7eb;
}

.header-left{
display:flex;
align-items:center;
gap:10px;
font-weight:600;
}

.logo{
width:28px;
}

.header-right button{
border:none;
background:#e5e7eb;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}

/* CHAT */

.chat-container{
flex:1;
padding:20px;
overflow-y:auto;
}

.message{
max-width:75%;
padding:12px 14px;
border-radius:12px;
margin-bottom:14px;
font-size:15px;
}

.user{
background:#4f46e5;
color:white;
margin-left:auto;
}

.ai{
background:#e5e7eb;
color:#111;
}

.time{
font-size:11px;
opacity:.6;
margin-top:5px;
display:block;
}

/* INPUT BAR */

.input-area{
padding:14px;

}

.input-wrapper{
position:relative;
width:100%;
}

.input-wrapper input{
width:100%;
padding:20px 90px 20px 16px;
border-radius:26px;
border:1px solid #d1d5db;
font-size:15px;
outline:none;
}

/* MIC */

.mic-btn{
position:absolute;
right:52px;
top:50%;
transform:translateY(-50%);
border:none;
background:transparent;
cursor:pointer;
color:#6b7280;
}

.mic-btn svg{
width:22px;
height:22px;
}

/* SEND */

.arrow-btn{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
border:none;
background:#ffffff;
color:#5a5959;
/* padding: 10px; */
width:35px;
height:35px;
border-radius:50%;
cursor:pointer;
}

.arrow-btn:disabled{
opacity:.4;
cursor:not-allowed;
}

/* DARK MODE */

body.dark{
background:#0f172a;
}

body.dark .app{
background:#1e293b;
color: #ffffff;
}

body.dark header{
border-color:#334155;

}

body.dark .ai{
background:#334155;
color:white;
}

body.dark input{
background:#1e293b;
color:white;
border:1px solid #475569;
}

body.dark .mic-btn{
color:#ffffff;
background-color: #40444b;
padding:8px;
border-radius: 50%;
}
body.dark .arrow-btn{
 color: #ffffff;
 background-color:#40444b ;
 padding: 8px;
 border-radius:50% ;
}